

* { box-sizing: border-box; }



.wrapper {
  position: relative;
  margin: auto;
  width: 100%;

  .slides-frame{
    overflow: hidden;
    margin: 0px;
  }

  .slides {
    display: flex;
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
    //width: fit-content;
    width: max-content;

    &.shifting {
      transition: left .2s ease-out;
    }

    .slide {
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
    }
  }

  .jas__nav{
    display:flex;
    justify-content: center;
    .jas__nav-button{
      margin: 0px .25rem;
      padding: 0px .25rem;
      user-select: none;
      -webkit-user-select: none;
      cursor: pointer;
    }
  }


  .prev,
  .next {

    display: inline-block;
    z-index: 2;
    cursor: pointer;
    user-select:none;
    -webkit-user-select:none;

    &:active{
      transform: scale(.8);
    }
  }

}
